.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    // background-color: #333;
    // color: #fff;
    border-bottom: 2px solid #EBEBEB;
    font-size: 1.2rem;

    &__title {
        margin: 0;
    }

    &__notification-icon {
        margin-right: 1rem;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__user-info {
        display: flex;
        align-items: center;
    }

    &__user-details {
        text-align: right;
        margin: 0 1rem;
        
        &-name {
            width: 100%;
        }

        &-role {
            text-transform: capitalize;
        }
    }
    

    &__user-avatar {
        width: 60px;
        height: auto;
        // height: 60px;
        border-radius: 50%;
    }
}